:root {
background-color: black;
--beige: rgba(255,210,153,1);
}

*{
    font-family: 'Lato', sans-serif;
    font-weight:400;
    font-size:16px;
    color:white;
  
    text-decoration:none;
  }

  html{ /*NICHT ANPASSEN!*/
    height:auto;
    margin-left: 20vw;
    margin-right: 20vw;
    background-image: url('/img/voegel/vogel_weiss_transparent.png');
    background-size: contain; /* Das Bild wird gestreckt, um den gesamten Bildschirm zu bedecken */
    background-repeat: no-repeat; /* Das Bild wird nicht wiederholt */
    background-attachment: fixed; /* Das Bild bleibt statisch */
  }

  header{ /*NICHT ANPASSEN!*/
    width:100%;
    height: 280px;
    top: 0;
    left: 0;
    z-index: 100;
    /*
    background-image: url('/img/voegel/vogel_weiss.svg');
    background-repeat: no-repeat;
    background-position: 0% 5%;
    background-size: 20%; */
  }



  main{
    width:100%;
    height: 100%;
    margin-top: 80px;
    margin-bottom: 100px;
  }

  .logo{ /*NICHT ANPASSEN!*/
    width: 500px;
    height: auto;
    padding-top: 20px;
    margin: 0 auto;
    display: block;    
  }

  .nav_links{ /*NICHT ANPASSEN!*/
    display:flex;
    flex-wrap: wrap;
    list-style:none;
    padding: 0;
    justify-content: center;
  }

  .nav_links li a{ /*NICHT ANPASSEN!*/
    display: block;
    box-sizing:border-box;
    height:40px;
    padding: 10px 15px 0px 15px;
  }

  .aktiver_menuelink{ /*NICHT ANPASSEN!*/
    color:var(--beige);
    transition: color 0.3s;
  }

  .nav_links li a:hover, .aktiver_menuelink{ /*NICHT ANPASSEN!*/
    color:var(--beige);
    border-bottom-style: solid;
    border-bottom-width: 2px;
  }

  h1{ /*NICHT ANPASSEN!*/
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
  }

  h2{
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  p{
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 30px;
  }




.angebote_teaser{
    display: flex;
    flex-direction: row; /* Ändert die Anordnung der Elemente in eine Zeile */
    align-items: flex-start; /* Linksbündige Ausrichtung der Elemente */
    margin-bottom: 150px;
  }

  #ausflüge_bild,
  #interaktive_erlebnisse_bild,
  #community_events_bild {
    width: 200px; /* Die Breite der Bilder */
    height: auto; /* Die Höhe automatisch anpassen, um das Seitenverhältnis beizubehalten */
  }

  .gleichgesinnte, .bingo{
    display: flex;
    flex-direction: row; /* Ändert die Anordnung der Elemente in eine Spalte */
    align-items: flex-start; /* Linksbündige Ausrichtung der Elemente */
    margin-bottom: 150px;
  }

  #gleichgesinnte_text, #bingo_artikel_text{
    flex: 1;
    margin-right: 50px;
  }

  #gleichgesinnte_bild, #bingo_artikel_bild {
    flex: unset; /* Auf 'unset' setzen, um das vorherige Flex-Verhalten aufzuheben */
    margin-left: 50px; /* Abstand zwischen p und Bild */
    width: 400px;
    border-radius: 10px;
    /*box-shadow: rgba(255, 255, 255, 0.446) 10px 15px 25px, rgb(255, 255, 255, 0.15) 10px 5px 10px;*/

  }

  .zugang {
    display: flex;
    flex-direction: row; /* Ändert die Anordnung der Elemente in eine Zeile */
    align-items: flex-start; /* Linksbündige Ausrichtung der Elemente */
    margin-bottom: 150px;
}

#zugang_bild {
    flex: unset; /* Auf 'unset' setzen, um das vorherige Flex-Verhalten aufzuheben */
    margin-right: 20px;
    width: 400px;
    border-radius: 10px;
}

#zugang_bild img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#zugang_text {
    flex: 1;
}

#zugang_text h2 {
    font-size: 24px;
    font-weight: bold;
}

#zugang_text p {
    font-size: 16px;
}


  .kulturnest-card {
    display: flex;
    align-items: center;
    background-color: var(--beige); /* Hintergrundfarbe in Beige */
    max-width: 600px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 40px;
    border-radius: 10px;
    position: relative; /* Position relativ setzen */
    transition: background-color 0.3s; /* Fügt eine sanfte Übergangsanimation hinzu */
  }
  
  /* Pseudo-Element für das Overlay beim Hovern */
  .kulturnest-card {
    display: flex;
    background-color: var(--beige); /* Hintergrundfarbe in Beige */
    max-width: 600px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 40px;
    border-radius: 10px;
    position: relative; /* Position relativ setzen */
    overflow: hidden; /* Überlauf ausblenden, um die Farbe beim Hovern zu verstecken */
    transition: background-color 0.3s; /* Fügt eine sanfte Übergangsanimation hinzu */
  }
  
  /* Pseudo-Element für das Overlay beim Hovern */
  .kulturnest-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(230, 107, 0, 0.3); /* Halbtransparente Overlay-Farbe */
    border-radius: 10px;
    opacity: 0; /* Standardmäßig unsichtbar */
    transition: opacity 0.3s; /* Übergang für die Opazität hinzufügen */
  }
  
  .kulturnest-card:hover::before {
    opacity: 1; /* Overlay beim Hovern sichtbar machen */
  }
  
  #card_text {
    color: #000000; /* Textfarbe auf Schwarz setzen */
    background-color: transparent; /* Hintergrundfarbe des Textes auf transparent setzen */
    position: relative; /* Position relativ setzen */
    z-index: 1; /* Über dem Overlay platzieren */
    margin-right: 50px;
  }
  

  .kulturnest-card h2, .kulturnest-card p{
    color: black;
  }


  /*Button*/

  .button_container {
    display: flex;
    justify-content: center; /* Zentriert den Inhalt horizontal */
    align-items: center; /* Zentriert den Inhalt vertikal */
    height: 10vw; /* 100% der Bildschirmhöhe */
    margin-bottom: 40px;
    
  }
  
  .button_header {
    align-items: center;
    background-clip: padding-box;
    background-color: #EED5A7;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }

  .button_header:hover,
  .button_header:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button_header:hover {
    transform: translateY(-1px);
  }
  
  .button_header:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }

  /*Newsletter Input Field*/
    /*Input Field für Newsletter
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #000000;
  }

  input[type=submit] {
    width: 100%;
    background-color: var(--beige);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  #input_field {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  */
  

  /*Footerbereich*/
  footer {
     display: flex;
     width: 100%;
     background-color: var(--blue);
     color: white;
     text-align: left;
     font-size: 10px;
     padding-top:10px;
     padding-bottom:10px;
     margin-top:10px;
     border-top: 1px solid #ffffff; /* Dünne Linie mit der gewünschten Farbe (hier: #333) */
     padding-bottom: 5px; /* Platz unterhalb der Linie */
     margin-top: 40px;
  }

  .adresse_footer{ /*NICHT ANPASSEN!*/
    flex: 2;
    font-size: 14px;
  }


  .weitere_links{ /*NICHT ANPASSEN!*/
    flex: 3;
    font-size: 14px;
    text-align: left;
    margin-top: 29px;
  }

  .social_media_icons{ /*NICHT ANPASSEN!*/
    flex: 2;
    font-size: 10px;
    margin-top: 20px;
  }

  .social_media_icons img{ /*NICHT ANPASSEN!*/
    width: 30px;
  }







  @media (max-width: 1200px) {
    .gleichgesinnte,
    .zugang,
    .bingo {
      flex-direction: column; /* Ändert die Anordnung der Elemente in eine Spalte */
      align-items: flex-start; /* Linksbündige Ausrichtung der Elemente */
      margin-bottom: 150px;
    }


    .zugang {
      flex-direction: column-reverse; /* Ändert die Anordnung der Elemente in eine Spalte und kehrt die Reihenfolge um */
      align-items: flex-start; /* Linksbündige Ausrichtung der Elemente */
      margin-bottom: 150px;
    }
    
    #zugang_text {
      order: 2; /* Ändert die Reihenfolge des Textes auf 2 (nach dem Bild) */
    }
    
    #zugang_bild {
      order: 1; /* Ändert die Reihenfolge des Bildes auf 1 (vor dem Text) */
    }
  }


