:root {
    background-color: #FFE1AC;
    --beige:black;
    }
    
    *{
        font-family: 'Lato', sans-serif;
        font-weight:500;
        font-size:16px;
        color:black;
      
        text-decoration:none;
      }
    
      html{ /*NICHT ANPASSEN!*/
        height:auto;
        margin-left: 15vw;
        margin-right: 15vw;
      }
    
      header{ /*NICHT ANPASSEN!*/
        width:100%;
        height: 280px;
        top: 0;
        left: 0;
        z-index: 100;
        /*
        background-image: url('/img/voegel/vogel_weiss.svg');
        background-repeat: no-repeat;
        background-position: 0% 5%;
        background-size: 20%; */
      }
    
      main{
        width:100%;
        height: 100%;
        margin-top: 80px;
        margin-bottom: 100px;
      }
    
      .logo{ /*NICHT ANPASSEN!*/
        width: 700px;
        height: auto;
        padding-top: 10px;
        margin: 0 auto;
        margin-bottom: 50px;
        display: block;    
      }
    
      .nav_links{ /*NICHT ANPASSEN!*/
        display:flex;
        flex-wrap: wrap;
        list-style:none;
        padding: 0;
        justify-content: center;
      }
    
      .nav_links li a{ /*NICHT ANPASSEN!*/
        display: block;
        box-sizing:border-box;
        height:40px;
        padding: 10px 15px 0px 15px;
      }
    
      .aktiver_menuelink{ /*NICHT ANPASSEN!*/
        color:var(--beige);
        transition: color 0.3s;
      }
    
      .nav_links li a:hover, .aktiver_menuelink{ /*NICHT ANPASSEN!*/
        color:var(--beige);
        border-bottom-style: solid;
        border-bottom-width: 2px;
      }

      .active {
        color: var(--beige); /* Farbe für den aktiven Navigationspunkt */
        border-bottom-style: solid;
        border-bottom-width: 2px;
    }
    
         
      h1{ /*NICHT ANPASSEN!*/
      font-size: 60px;
      font-weight: 800;
      text-align: left;
      margin-top: 100px;
      margin-bottom: 20px;
     }
  
    
      h2{
        font-size: 20px;
        font-weight: 800;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 0px;
      }

      h5{
        font-size: 16px;
        font-weight: 650;
        text-align: justify;
        margin-top: 20px;
        margin-bottom: 0px;
      }
    
      p{
        font-size: 16px;
        font-weight: 400;
        text-align: justify;
        margin-top: 10px;
        margin-bottom: 30px;
      }
    
        .kulturnest{
          font-size: 20px;
          font-weight: 800;
          text-align: left;
          margin-top: 20px;
          margin-bottom: 0px;
        }
            .kulturnest_lead{
              font-size: 16px;
              font-weight: 650;
              text-align: justify;
              margin-top: 20px;
              margin-bottom: 0px;
              flex: 1;
              padding-right: 60%;
            }
            .kulturnest_text{
              font-size: 16px;
              font-weight: 400;
              text-align: justify;
              margin-top: 10px;
              margin-bottom: 30px;
              flex: 1;
              padding-right: 60%;
            }

        .vision{
          font-size: 20px;
          font-weight: 800;
          text-align: left;
          margin-top: 20px;
          margin-bottom: 0px;
          flex:1;
          padding-left: 55%; 
        }    
            .vision_lead{
              font-size: 16px;
              font-weight: 650;
              text-align: justify;
              margin-top: 20px;
              margin-bottom: 0px;
              flex: 1;
              padding-left: 55%;
              margin-right: 110px;
            }
            .vision_text{
              font-size: 16px;
              font-weight: 400;
              text-align: justify;
              margin-top: 10px;
              margin-bottom: 30px;
              flex: 1;
              padding-left: 55%;
              margin-right: 110px;
            }

      #nest_bild{
        width: 200px;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 550px;
      }      

      .einleitung {
        display: flex;
        flex-direction: column; /* Ändert die Anordnung der Elemente in eine Spalte */
        align-items: flex-start; /* Linksbündige Ausrichtung der Elemente */
      }
    

      #einleitung_text{
        flex: 1;
        align-items: center;
      }

      .einleitung_film{
        flex: 1;
        align-items:center;
      }

    
    
      /*Footerbereich*/
      footer {
         display: flex;
         width: 100%;
         background-color: var(--blue);
         color: white;
         text-align: left;
         font-size: 10px;
         padding-top:10px;
         padding-bottom:10px;
         margin-top:10px;
         border-top: 1px solid #ffffff; /* Dünne Linie mit der gewünschten Farbe (hier: #333) */
         padding-bottom: 5px; /* Platz unterhalb der Linie */
         margin-top: 40px;
      }
    
      .adresse_footer{ /*NICHT ANPASSEN!*/
        flex: 2;
        font-size: 14px;
      }
    
    
      .weitere_links{ /*NICHT ANPASSEN!*/
        flex: 3;
        font-size: 14px;
        text-align: left;
        margin-top: 29px;
      }
    
      .social_media_icons{ /*NICHT ANPASSEN!*/
        flex: 2;
        font-size: 10px;
        margin-top: 20px;
      }
    
      .social_media_icons img{ /*NICHT ANPASSEN!*/
        width: 30px;
      }