:root {
    background-color: black;
    --beige: rgba(255,210,153,1);
    }
    
    *{
        font-family: 'Lato', sans-serif;
        font-weight:500;
        font-size:16px;
        color:white;
      
        text-decoration:none;
      }
    
      html{ /*NICHT ANPASSEN!*/
        height:auto;
        margin-left: 20vw;
        margin-right: 20vw;
      }
    
      header{ /*NICHT ANPASSEN!*/
        width:100%;
        height: 280px;
        top: 0;
        left: 0;
        z-index: 100;
        /*
        background-image: url('/img/voegel/vogel_weiss.svg');
        background-repeat: no-repeat;
        background-position: 0% 5%;
        background-size: 20%; */
      }
    
      main{
        width:100%;
        height: 100%;
        margin-top: 80px;
        margin-bottom: 100px;
      }
    
      .logo{ /*NICHT ANPASSEN!*/
        width: 500px;
        height: auto;
        padding-top: 20px;
        margin: 0 auto;
        display: block;    
      }
    
      .nav_links{ 
        display:flex;
        flex-wrap: wrap;
        list-style:none;
        padding: 0;
        justify-content: center;
      }
    
      .nav_links li {
        margin: 0 15px;
        position: relative;
      }
      .nav_links li a {
        text-decoration: none;
        display: block;
        padding: 5px 0px;
        font-family: "Open Sans";
        font-size: 26px;
        line-height: 1;
        font-weight: bold;
        position: relative;
        z-index: 1;
        text-align: center;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(to right, rgb(255,210,153,1), rgb(255,210,153,1) 50%, #fff 50%);
        background-size: 200% 100%;
        background-position: -100%;
        transition: all 0.3s ease-in-out;
        background-color: transparent; /* Standard-Hintergrundfarbe */
        transition: background-color 0.3s ease-in-out; /* Übergangsanimation für die Hintergrundfarbe */
      
      }
    
      .nav_links li a:before {
        display: block;
        content: "";
        width: 0;
        height: 3px;
        bottom: 5px;
        left: 0;
        bottom: -3px;
        z-index: 0;
        position: absolute;
        background: var(--beige);
        transition: all 0.3s ease-in-out;
      }
      .nav_links li a:hover {
        background-position: 0%;
        background-color: var(--beige); /* Beim Hoveren auf Beige ändern */
    
      }
      .nav_links li a:hover:before {
        width: 100%;
      }

      .active {
        color: var(--beige); /* Farbe für den aktiven Navigationspunkt */
        border-bottom-style: solid;
        border-bottom-width: 2px;
    }
    
      h1{ /*NICHT ANPASSEN!*/
        font-size: 60px;
        font-weight: 800;
        text-align: left;
        margin-top: 50px;
        margin-bottom: 50px;
      }
    
      h2{
        font-size: 20px;
        font-weight: 800;
        text-align: left;
        margin-top: 0px;
        margin-bottom: 0px;
      }
    
      p{
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 30px;
      }
    
      .einleitung {
        display: flex;
        flex-direction: row; /* Ändert die Anordnung der Elemente in eine Spalte */
        align-items: flex-start; /* Linksbündige Ausrichtung der Elemente */
      }
    
      #einleitung_text{
        flex: 1;
        margin-right: 50px;
      }
    
      #einleitung_bild {
        flex: unset; /* Auf 'unset' setzen, um das vorherige Flex-Verhalten aufzuheben */
        margin-left: 50px; /* Abstand zwischen p und Bild */
      }
    
      /*Footerbereich*/
      footer {
         display: flex;
         width: 100%;
         background-color: var(--blue);
         color: white;
         text-align: left;
         font-size: 10px;
         padding-top:10px;
         padding-bottom:10px;
         margin-top:10px;
         border-top: 1px solid #ffffff; /* Dünne Linie mit der gewünschten Farbe (hier: #333) */
         padding-bottom: 5px; /* Platz unterhalb der Linie */
         margin-top: 40px;
      }
    
      .adresse_footer{ /*NICHT ANPASSEN!*/
        flex: 2;
        font-size: 14px;
      }
    
    
      .weitere_links{ /*NICHT ANPASSEN!*/
        flex: 3;
        font-size: 14px;
        text-align: left;
        margin-top: 20px;
      }
    
      .social_media_icons{ /*NICHT ANPASSEN!*/
        flex: 2;
        font-size: 10px;
        margin-top: 20px;
      }
    
      .social_media_icons img{ /*NICHT ANPASSEN!*/
        width: 30px;
      }
    